<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Karan Randhawa</title>
  <meta name="viewport" content="width=device-width, inital-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/portfolio.css"/>
</head>
<body class="base">
  <header>
    <div class="container">
      <h2>
        Karanbir Randhawa
      </h2>
      <h1>
        Portfolio
      </h1>
      <ul>
        <li>
          <a href="/">Portfolio</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
        <li>
          <a href="https://github.com/karanbirrandhawa">Github</a>
        </li>
      </ul>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="info">
        Hi. I'm a computer engineer with a strong interest
        in machine learning and distributed systems. I graduate
        from the University of Waterloo's Computer Engineering
        program in 2018. I currently work as a Software Engineering
        intern at Ten Thousand Coffees.
      </div>
      <h2>
        Featured
      </h2>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Facebook Check-Ins
          </h3>
          <p>
            Predicting which place a person is would like to check in the
            user location data over time.
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Mongo Aggregation Library
          </h3>
          <p>
            A library of pre-made mongo aggregations meant to make your life building MongoDB applications easier.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Two Sigma Challenge
          </h3>
          <p>
            Predicting financial values with machine learning.
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Airbnb New User Bookings
          </h3>
          <p>
            Predicting where will a new guest book their first travel experience.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Yelp Photo Classification
          </h3>
          <p>
            Predicting attribute labels for restaurants using user-submitted photos.
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Musical Programming
          </h3>
          <p>
            Making beats with code.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>
        Machine Learning
      </h2>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>
        Web Applications
      </h2>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>
        Mobile Development
      </h2>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
        <div class="col-12-sm col-6 info-box">
          <h3>
            Lorem Ipsum
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
