<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Karan Randhawa</title>
  <meta name="viewport" content="width=device-width, inital-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/portfolio.css"/>
</head>
<body class="base">
  <header>
    <div class="container">
      <h2>
        Karanbir Randhawa
      </h2>
      <h1>
        Resume
      </h1>
      <ul>
        <li>
          <a href="/">Portfolio</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
        <li>
          <a href="https://github.com/karanbirrandhawa">Github</a>
        </li>
      </ul>
    </div>
  </header>
</body>
<section>
  <div class="container">
    <div class="info">
      For the most part I use this section as a place to describe in detail
      all the different opportunities from school and work that I've had
      that've shaped me professionally. A short-and-sweet version that I'd prefer
      potential employers to look at can be found <a href="" class="underline">here</a>.
    </div>
    <h2>
      Work Experience
    </h2>
    <div class="row">
      <div class="col-12-sm col-12 info-resume-container">
        <div class="info-resume">
          <div class="row">
            <div class="col-12-sm col-8 work-info">
              <h3>
                Software Engineering Intern
              </h3>
              <h3>
                <span>
                  Ten Thousand Coffees
                </span>
              </h3>
            </div>
            <div class="col-12-sm col-4 date-location">
              <p>
                Sept - Dec 2016
              </p>
              <p>
                Toronto, ON
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 work-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit..
              </p>
            </div>
          </div>
        </div>
        <div class="info-resume">
          <div class="row">
            <div class="col-12-sm col-8 work-info">
              <h3>
                Software Engineering Intern
              </h3>
              <h3>
                <span>
                  IBM Toronto Software Lab
                </span>
              </h3>
            </div>
            <div class="col-12-sm col-4 date-location">
              <p>
                Jan - Apr 2016
              </p>
              <p>
                Toronto, ON
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 work-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit..
              </p>
            </div>
          </div>
        </div>
        <div class="info-resume">
          <div class="row">
            <div class="col-12-sm col-8 work-info">
              <h3>
                App Engineering Intern
              </h3>
              <h3>
                <span>
                  Nascent Digital
                </span>
              </h3>
            </div>
            <div class="col-12-sm col-4 date-location">
              <p>
                May - Aug 2015
              </p>
              <p>
                Toronto, ON
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 work-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit..
              </p>
            </div>
          </div>
        </div>
        <div class="info-resume">
          <div class="row">
            <div class="col-12-sm col-8 work-info">
              <h3>
                Full-Stack Engineering Intern
              </h3>
              <h3>
                <span>
                  FlashStock
                </span>
              </h3>
            </div>
            <div class="col-12-sm col-4 date-location">
              <p>
                Jan - Apr 2014
              </p>
              <p>
                Toronto, ON
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 work-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit..
              </p>
            </div>
          </div>
        </div>
        <div class="info-resume">
          <div class="row">
            <div class="col-12-sm col-8 work-info">
              <h3>
                Web Developer Intern
              </h3>
              <h3>
                <span>
                  Catamaran RX
                </span>
              </h3>
            </div>
            <div class="col-12-sm col-4 date-location">
              <p>
                Jan - Apr 2013
              </p>
              <p>
                Milton, ON
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 work-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit..
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section>
  <div class="container">
    <h2>
      Education
    </h2>
    <div class="row">
      <div class="col-12-sm col-12 info-resume-container">
        <div class="info-resume">
          <div class="row">
            <div class="col-12-sm col-8 work-info">
              <h3>
                University of Waterloo
              </h3>
              <h3>
                <span>
                  B.ASc, Computer Engineering
                </span>
              </h3>
            </div>
            <div class="col-12-sm col-4 date-location">
              <p>
                Jan 2013 - Apr 2018
              </p>
              <p>
                Waterloo, ON
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 work-description">
              Relevant Coursework:
              <ul>
                <li>
                  Data Structures and Algorithms
                </li>
                <li>
                  Compilers, Operating Systems and Systems Programming
                </li>
                <li>
                  Probability Theory and Statistics
                </li>
                <li>
                  Embedded Microprocesser Systems
                </li>
                <li>
                  Signals and Analog Control Systems
                </li>
                <li>
                  Electric Circuits
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="info-resume">
          <div class="row">
            <div class="col-12-sm col-8 work-info">
              <h3>
                Coursera
              </h3>
            </div>
            <div class="row">
              <div class="col-12 work-description">
                Relevant Coursework:
                <ul>
                  <li>
                    Machine Learning by Andrew Ng, Stanford University
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>
      Freelance Work
    </h2>
    <div class="row">
      <div class="row">
        <div class="col-12-sm col-12 info-resume-container">
          <div class="info-resume">
            <div class="row">
              <div class="col-12-sm col-8 work-info">
                <h3>
                  My Memory App for iOS
                </h3>
              </div>
              <div class="col-12-sm col-4 date-location">
                <p>
                  3 month freelance project
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 work-description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit..
                </p>
              </div>
            </div>
          </div>
          <div class="info-resume">
            <div class="row">
              <div class="col-12-sm col-8 work-info">
                <h3>
                  Talk Pirate Speech Cards
                </h3>
              </div>
              <div class="col-12-sm col-4 date-location">
                <p>
                  3 month freelance project
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 work-description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit..
                </p>
              </div>
            </div>
          </div>
          <div class="info-resume">
            <div class="row">
              <div class="col-12 work-description">
                <p>
                  View a more detailed list of projects in my <a class="underline">portfolio</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>
